*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
body {
    margin: 0;
    /* font-family: "Smythe", system-ui; */
    padding: 0;
    font-weight: 400;
}
header,
main,
.menu-container
{
    width: 95%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100px;
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 2.875rem;
}


/* ------------------------------------------------------------------
                        Typography
---------------------------------------------------------------------*/

h1,
h2,
.emoji,
h5{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.375rem;
}

.emoji{
    font-size: 4.92rem;
    opacity: 0.7;
    margin-right: 0.5em;
}


.menu-title{
    font-size: 1.75rem;
    color: #000000;
    margin-bottom: 0;
}

.menu-ingredient{
    font-size: 1rem;
    color: #888888;
    margin-top: 0.5em;
}

.tab-title,
.item-name,
.tab-total-txt
{
    font-size: 1.75rem;
    color: #0E0E0E;
}

.tab-title{
    text-align: center;
    margin-bottom: 1rem;
}

.remove{
    font-size: 0.75rem;
    color: #bbbbbb;
    margin-left: 1em;
    cursor: pointer;
}

/*              LAYOUT                             */
.tab-container,
.menu-container{
    display: grid;
    gap: 20px;

}

.tab-container,
.menu{
    width: 83%;
    margin: 0 auto;
}

.menu{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #D2D2D2;
}


.add-menu{
    border-radius: 50%;
    margin-left: auto;
    width: 3.125rem;
    height: 3.125rem;
    font-size: 2rem;
    background-color: #DEDEDE;
    border: 2px solid #3C3C3C;
}

/* TAB SECTION */
.tab-section{
    display: none;
}
.tab-item,
.tab-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-item{
    margin-bottom: 1.25rem;
}

.tab-list{
    border-bottom: 0.1875rem solid #393333;
}

.purchase-btn{
    border-radius: 3px;
    border: none;
    color: #ffffff;
    padding: 1.5em 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #16DB99;
    margin-bottom: 2em;

}


/* --------------------  MEDIA QUERY  ---------------------------- */
@media (min-width: 580px) {
    html{
        font-size: 16px;
    }

    header,
    main
  {
        width: 600px;
    }

    header{
        height: 167px;
    }
}