*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    padding: 0;
    font-weight: 400;
}
header,
main,
.menu-container
{
    width: 95%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100px;
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 2.875rem;
}


/* ------------------------------------------------------------------
                        Typography
---------------------------------------------------------------------*/

h1,
h2,
.emoji,
h5,
.card-detail-title{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.375rem;
}

.emoji{
    font-size: 4.92rem;
    opacity: 0.7;
    margin-right: 0.5em;
}

.card-detail-title{
    font-size: 1.5rem;
    color: #000000;
    margin: 1.5rem 0;
}

.menu-title{
    font-size: 1.75rem;
    color: #000000;
    margin-bottom: 0;
}

.menu-ingredient{
    font-size: 1rem;
    color: #888888;
    margin-top: 0.5em;
}

.tab-title,
.item-name,
.tab-total-txt
{
    font-size: 1.75rem;
    color: #0E0E0E;
}

.tab-title{
    text-align: center;
    margin-bottom: 1rem;
}

.remove{
    font-size: 1rem;
    color: #bbbbbb;
    margin-left: 1em;
    cursor: pointer;
}

input{
    display: block;
    width: 100%;
    font-size: 1.25rem;
    padding: 0.5em 1em;
    margin-bottom: 1.5em;
}

/*              LAYOUT                             */
.tab-container,
.menu-container{
    display: grid;
    gap: 20px;

}

.tab-container,
.menu
{
    width: 83%;
    margin: 0 auto;
}

.menu{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #D2D2D2;
}

.payment-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 78.85%;
    height: fit-content;
    margin: auto;
    background-color: #ffffff;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 0px 20px 6px #666;
    display: none;
}

.add-menu{
    border-radius: 50%;
    margin-left: auto;
    width: 3.125rem;
    height: 3.125rem;
    font-size: 2rem;
    background-color: #DEDEDE;
    border: 2px solid #3C3C3C;
}

/* TAB SECTION */
.tab-section{
    display: none;
}
.tab-item,
.tab-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-item{
    margin-bottom: 1.25rem;
}

.tab-list{
    border-bottom: 0.1875rem solid #393333;
}

.purchase-btn,
.payment-btn{
    border-radius: 3px;
    border: none;
    color: #ffffff;
    padding: 1.5em 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #16DB99;
    margin-bottom: 2em;

}


.payment-btn{
    width: 100%;
}

.order-confirmation{
    display: none;
    justify-content: center;
    align-items: center;
    width: 78.85%;
    height: 7.5rem;
    margin: 2rem auto;
    background-color: #ECFDF5;
    font-size: 1.5rem;
    color: #065F46;
    padding: 1em;
}


/* --------------------  MEDIA QUERY  ---------------------------- */
@media (min-width: 580px) {
    html{
        font-size: 16px;
    }

    header,
    main
    {
        width: 600px;
    }

    header{
        height: 167px;
    }

    .remove{
        font-size: 0.75rem;
    }

    .payment-modal{
        width: 498px;
    }
}